src/main/app/brexit-system.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:context="http://www.springframework.org/schema/context"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd">

	<context:property-placeholder location="classpath:properties\${SANDBOX_DOMAIN}\${SANDBOX_SERVER_SHORT_NAME}\${SANDBOX_NAME}.properties"/>
    
<!--     <http:listener-config name="brexit-system-httpListenerConfigO" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration" /> -->
    <http:listener-config name="brexit-system-httpListenerConfig" host="${application.http.host}" port="${application.http.port}"  doc:name="HTTP Listener Configuration"/>
    <http:listener-config name="brexit-system-httpListenerConsoleConfig"   host="${application.http.host}" port="${application.console.http.port}"   doc:name="HTTP Listener Configuration"/>


    <apikit:config name="brexit-system-config" raml="brexit-system.raml" consoleEnabled="false" doc:name="Router" />
    <mongo:config name="Mongo_DB" username="ralph" database="dd" doc:name="Mongo DB" />
    <flow name="brexit-system-main">
        <http:listener config-ref="brexit-system-httpListenerConfig" path="/api/*" doc:name="HTTP" />
        <apikit:router config-ref="brexit-system-config" doc:name="APIkit Router" />
        <exception-strategy ref="brexit-system-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy" />
    </flow>
    <flow name="brexit-system-console">
        <http:listener config-ref="brexit-system-httpListenerConsoleConfig" path="/console/*" doc:name="HTTP" />
        <apikit:console config-ref="brexit-system-config" doc:name="APIkit Console" />
    </flow>
    <flow name="get:/areas:brexit-system-config">
        <mongo:find-objects config-ref="Mongo_DB" collection="Area" doc:name="Mongo DB" />
        <mongo:mongo-collection-to-json doc:name="CollectionToJson" />
        <logger level="INFO" doc:name="Logger" message="/areas  Returned : /n#[payload]/n" />
        <set-payload value="#[payload]" doc:name="Set Payload" />
    </flow>
    
    <flow name="get:/areas/{identity}:brexit-system-config">
	     <mongo:find-one-object-using-query-map config-ref="Mongo_DB" collection="Area" doc:name="Mongo DB">
	        <mongo:query-attributes>
	            <mongo:query-attribute key="identity">#[identity]</mongo:query-attribute>
	        </mongo:query-attributes>
	   	 </mongo:find-one-object-using-query-map>
        <logger level="INFO" doc:name="Logger" message="/area/#[identity]  Returned : /n#[payload]/n" />
        <set-payload value="#[payload]" doc:name="Set Payload" />
			<choice-exception-strategy doc:name="Choice Exception Strategy">
				<catch-exception-strategy doc:name="Catch Exception Strategy" when="#[exception.causedBy(com.mongodb.MongoException)]">
					<logger level="INFO" doc:name="Logger" message="HANDLING MONGO EXCEPTION #[payload]" />
					<set-variable variableName="errorStatusCode" value="404" doc:name="Set status code"/>
					<set-variable variableName="errorReasonPhrase" value="Not Found" doc:name="Set reason phrase"/>
		            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
		            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload" />
					<set-property propertyName="http.status" value="404"/>
				</catch-exception-strategy>
				<rollback-exception-strategy doc:name="Rollback Exception Strategy">
					<logger level="INFO" doc:name="Logger" message="Unknown error"/>
				</rollback-exception-strategy>
			</choice-exception-strategy>
      </flow>
      
    <apikit:mapping-exception-strategy name="brexit-system-apiKitGlobalExceptionMapping">
<!--         <apikit:mapping statusCode="404"> -->
<!--             <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" /> -->
<!--             <set-property propertyName="Content-Type" value="application/json" doc:name="Property" /> -->
<!--             <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload" /> -->
<!--         </apikit:mapping>     -->
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
