src/main/app/gateway-in.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:context="http://www.springframework.org/schema/context"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd">

	<context:property-placeholder location="classpath:properties\${SANDBOX_DOMAIN}\${SANDBOX_SERVER_SHORT_NAME}\${SANDBOX_NAME}.properties"/>

    <flow name="get:/areas:brexit-system-config">
		<flow-ref name="areas-find-all" doc:name="findAll"/>      
		<logger level="INFO" doc:name="GET /areas" message="GET /areas  Returned : #[payload]" />     
        <set-payload value="#[payload]" doc:name="Set Payload" />
    </flow>
    
    <flow name="get:/areas/{identity}:brexit-system-config">
		<flow-ref name="areas-find-one-by-identity" doc:name="findByIdentity"/>      
		<logger level="INFO" doc:name="GET /areas/{identity}" message="GET /areas/{identity}  Returned : #[payload]" />     
		<set-payload value="#[payload]" doc:name="Set Payload" />
	</flow>
      
</mule>
