src/main/app/gateway-out.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:context="http://www.springframework.org/schema/context"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd">

	<context:property-placeholder location="classpath:properties\${SANDBOX_DOMAIN}\${SANDBOX_SERVER_SHORT_NAME}\${SANDBOX_NAME}.properties"/>
    
    <mongo:config name="Mongo_DB"  host="${mongo.hostname}" username="ralph" database="${mongo.database.name}" doc:name="Mongo DB" />
    
	<flow name="areas-find-all">
        <mongo:find-objects config-ref="Mongo_DB" collection="Area" doc:name="findAll" />
        <mongo:mongo-collection-to-json doc:name="CollectionToJson" />
        <logger level="INFO" doc:name="/areas" message="GET /areas  Returned : #[payload]" />
        <set-payload value="#[payload]" doc:name="Set Payload" />
    </flow>
    
	<flow name="areas-find-one-by-identity">
	     <mongo:find-one-object-using-query-map config-ref="Mongo_DB" collection="Area" doc:name="findOneByIdentity">
	        <mongo:query-attributes>
	            <mongo:query-attribute key="identity">#[identity]</mongo:query-attribute>
	        </mongo:query-attributes>
	   	 </mongo:find-one-object-using-query-map>
        <logger level="INFO" doc:name="/areas/{identity}" message="GET /area/#[identity]  Returned : #[payload]" />
        <set-payload value="#[payload]" doc:name="Set Payload" />
			<choice-exception-strategy doc:name="Choice Exception Strategy">
				<catch-exception-strategy doc:name="Catch Exception Strategy" when="#[exception.causedBy(com.mongodb.MongoException)]">
					<logger level="INFO" doc:name="Logger" message="HANDLING MONGO EXCEPTION #[payload]" />
					<set-variable variableName="errorStatusCode" value="404" doc:name="Set status code"/>
					<set-variable variableName="errorReasonPhrase" value="Not Found" doc:name="Set reason phrase"/>
		            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
		            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload" />
					<set-property propertyName="http.status" value="404" doc:name="Property"/>
				</catch-exception-strategy>
				<rollback-exception-strategy doc:name="Rollback Exception Strategy">
					<logger level="INFO" doc:name="Logger" message="Unknown error"/>
				</rollback-exception-strategy>
			</choice-exception-strategy>
      </flow>
    
</mule>
