src/test/resources/gateway-in-test.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:context="http://www.springframework.org/schema/context"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd">

	<context:property-placeholder location="classpath:properties\${SANDBOX_DOMAIN}\${SANDBOX_SERVER_SHORT_NAME}\${SANDBOX_NAME}.properties"/>
    
    <spring:beans>
        <spring:bean id="AreasReader" name="AreasFileReader" class="io.mule360.system.FileReader" autowire="byType">
            <spring:property name="dataDirectory" value="data" />
            <spring:property name="fileName" value="${filename.areas.areas.json}"/>
            <spring:property name="contentPropertyName" value="${collection.areas.areas}"/>
        </spring:bean>
        <spring:bean id="AreaReader" name="AreaFileReader" class="io.mule360.system.FileReader" autowire="byType">
            <spring:property name="dataDirectory" value="data"/>
            <spring:property name="fileName" value="${filename.areas.area.json}"/>
            <spring:property name="contentPropertyName" value="${collection.areas.area}"/>
        </spring:bean>
    </spring:beans>
        
	<!-- GET /areas -->    
	<flow name="areas-find-all-test">
        <component doc:name="AreasReader">
            <spring-object bean="AreasFileReader" />
        </component>
        <logger level="INFO" doc:name="/areas" message="GET /areas  Returned : #[payload]" />
        <set-payload value="#[payload]" doc:name="Set Payload" />
    </flow>
    
	<!-- GET /areas/{identity}  -->    
	<flow name="areas-find-one-by-identity-test">
        <component doc:name="AreaReader">
            <spring-object bean="AreaFileReader" />
        </component>
        <logger level="INFO" doc:name="/areas/{identity}" message="GET /area/#[identity]  Returned : #[payload]" />
        <set-payload value="#[payload]" doc:name="Set Payload" />
      </flow>
      
    <flow name="get:/areas:test-brexit-system-config">
	            	<flow-ref name="areas-find-all-test" doc:name="TEST_findAll"/>           
					<logger level="INFO" doc:name="Test Flow Used" message="GET /areas  Returned : #[payload]" />
        <set-payload value="#[payload]" doc:name="Set Payload" />
    </flow>
    
    <flow name="get:/areas/{identity}:test-brexit-system-config">
					<flow-ref name="areas-find-one-by-identity-test" doc:name="TEST_findOneByIdentity" />           
					<logger level="INFO" doc:name="Test Flow Used" message="GET /areas/{identity}  Returned : #[payload]" />
	        <set-payload value="#[payload]" doc:name="Set Payload" />
      </flow>
      
</mule>
